.listing-link {
  text-decoration: none; /* Removes the default underline from links */
  color: inherit; /* Inherits the text color from the parent element, ensuring the link looks like regular text */
}

.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 20px;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  border-radius: 30px 30px 0 0;
}

.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listing-meta {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
}

.location-pin {
  width: 24px;
  height: 24px;
}

.listing-location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.learn-more {
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
}

.learn-more::after {
  content: '\203A';
  margin-left: 5px;
}